.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  display:30%;
}

/* p{
    border-left: 100px;
    border-top: 100px;
} */

/* button{
    margin-top: relative;
    margin-left: relative;
} */
